git+https://github.com/subinps/pyrogram@inline-m
tgcrypto
pymongo[srv]
motor
marshmallow
python-telegram-bot
umongo
requests
bs4
imdbpy==2021.4.18
youtube-dl
youtube_search
requests
flask
flask_restful
googletrans
telegraph
beautifulsoup4
aiohttp
gTTS
googletrans
NumPy
glitch_this
opencv-python-headless
youtube-search-python
pypng
Pillow
wget
aiofiles
psutil
wheel
humanize
ytthumb
pyshorteners
asyncio
datetime
PyDictionary
PyPDF2
pypdf2
prettyconf
cachetools
spamwatch
mapping
telethon
yt-dlp
Heroku3
speedtest
pyyaml
shazamio
ffmpeg
Wikipedia
